.Layout {
  max-width: 50rem;
  margin: auto;
  font-size: 2rem;
  text-align: center;
  color: white;
}

.Layout-logo {
  height: min(160px, 30vmin);
  pointer-events: none;
  margin-top: min(30px, 5vmin);
  margin-bottom: min(30px, 5vmin);
}

.Layout-header {
  background-color: #1c1e20;
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: top;
}

.Layout-link {
  color: #61dafb;
}
